<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="r-datepicker-dependencies">
    <script type="importmap">
        {
            "imports": {
                "lit": "https://cdn.jsdelivr.net/gh/lit/dist@3/core/lit-core.min.js",
                "lit/": "https://cdn.jsdelivr.net/gh/lit/dist@3/"
            }
        }
    </script>

    <script type="module" th:src="@{/assets/components/r-datepicker.js}"></script>
    <script th:src="@{/assets/components/r-datepicker-coordinator.js}"></script>
    <link rel="stylesheet" th:href="@{/assets/components/r-datepicker.css}">
</th:block>

<!-- Basic with th:label signature for simple usage -->
<th:block th:fragment="r-datepicker_label(id, name, label, required, size, showHint)">
    <th:block th:replace="~{fragments/r-datepicker :: r-datepicker-master(
        id=${id},
        name=${name},
        value=${value},
        required=${required ?: false},
        size=${size},
        tabIndex=${tabIndex},
        label=${label},
        hxGet=null,
        hxTarget=null,
        hxTrigger=null,
        hxInclude=null,
        hxIndicator=null,
        hxTargetError=null,
        hxSwap=null,
        showHint=${showHint})}">
    </th:block>
</th:block>

<!-- Basic signature for simple usage -->
<th:block th:fragment="r-datepicker_no_id(name, value, required, size, tabIndex, showHint)">
    <th:block th:replace="~{fragments/r-datepicker :: r-datepicker-master(
        id=${name},
        name=${name},
        value=${value},
        required=${required ?: false},
        size=${size},
        tabIndex=${tabIndex},
        label=null,
        hxGet=null,
        hxTarget=null,
        hxTrigger=null,
        hxInclude=null,
        hxIndicator=null,
        hxTargetError=null,
        hxSwap=null,
        showHint=${showHint})}">
    </th:block>
</th:block>

<!-- Basic signature for simple usage -->
<th:block th:fragment="r-datepicker(id, name, value, required, size, tabIndex, showHint)">
    <th:block th:replace="~{fragments/r-datepicker :: r-datepicker-master(
        id=${id},
        name=${name},
        value=${value},
        required=${required ?: false},
        size=${size},
        tabIndex=${tabIndex},
        label=null,
        hxGet=null,
        hxTarget=null,
        hxTrigger=null,
        hxInclude=null,
        hxIndicator=null,
        hxTargetError=null,
        hxSwap=null,
        showHint=${showHint})}">
    </th:block>
</th:block>


<!-- Extended HTMX signature with more options -->
<th:block th:fragment="r-datepicker-htmx-extended(name, value, size, hxGet, hxTarget, hxTrigger, hxInclude, hxIndicator, hxTargetError, showHint)">
    <th:block th:replace="~{fragments/r-datepicker :: r-datepicker-master(
        id=${name},
        name=${name},
        value=${value},
        required=null,
        size=${size},
        tabIndex=null,
        label=null,
        hxGet=${hxGet},
        hxTarget=${hxTarget},
        hxTrigger=${hxTrigger},
        hxInclude=${hxInclude},
        hxIndicator=${hxIndicator},
        hxTargetError=${hxTargetError},
        hxSwap=null,
        showHint=${showHint})}">
    </th:block>
</th:block>

<th:block th:fragment="r-datepicker-htmx-extended_v2(name, value, size, hxGet, hxTarget, hxTrigger, hxInclude, hxIndicator, hxTargetError, hxSwap, showHint)">
    <th:block th:replace="~{fragments/r-datepicker :: r-datepicker-master(
        id=${name},
        name=${name},
        value=${value},
        required=null,
        size=${size},
        tabIndex=null,
        label=null,
        hxGet=${hxGet},
        hxTarget=${hxTarget},
        hxTrigger=${hxTrigger},
        hxInclude=${hxInclude},
        hxIndicator=${hxIndicator},
        hxTargetError=${hxTargetError},
        hxSwap=${hxSwap},
        showHint=${showHint})}">
    </th:block>
</th:block>

<!-- Master fragment with all possible parameters -->
<th:block th:fragment="r-datepicker-master(id, name, value, required, size, tabIndex, label, hxGet, hxTarget, hxTrigger, hxInclude, hxIndicator, hxTargetError, hxSwap, showHint)">
    <div data-datepicker-wrapper>
        <wa-input
            th:id="${id}"
            th:name="${name}"
            th:required="${required ?: false}"
            type="text"
            th:value="${value}"
            th:size="${size}"
            th:tabindex="${tabIndex}"
            th:label="${label}"
            th:hx-get="${hxGet}"
            th:hx-target="${hxTarget}"
            th:hx-trigger="${hxTrigger}"
            th:hx-include="${hxInclude}"
            th:hx-indicator="${hxIndicator}"
            th:hx-target-error="${hxTargetError}"
            th:hx-swap="${hxSwap}"
            autocomplete="off"
            spellcheck="false"
            data-datepicker-input>
            <wa-icon slot="end" name="calendar" data-datepicker-icon></wa-icon>
        </wa-input>
        
        <r-datepicker
            th:name="${name}"
            th:value="${value}"
            style="display: flex;"
            data-datepicker-logic>
        </r-datepicker>
        
        <div class="r-shortcuts-hint" data-datepicker-hint th:if="${showHint ?: true}">
            ddmm + Enter, ddmmyy + Enter, 't' for today
        </div>
    </div>
</th:block>

</html>